:root {
	--deep_blue: 38, 70, 83;
	--brigh_orange: 231, 111, 81;
	--cream: 244, 162, 97;
	--good_green: 15, 81, 50;
	--bad_red: 199, 0, 57;
}
/* navigation bar */
.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.brand-logo > a {
	display: flex;
	text-decoration: none;
	transition: 5s;
	position: relative;
	align-items: center;
}
.brand-logo > a > img:first-child {
	margin-right: 0.5rem;
}
.brand-logo > a > p {
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	transition: all 1s;
	margin: 0;
	position: absolute;
	color: rgb(var(--deep_blue));
	left: 30px;
	opacity: 1;
}

.brand-logo > a:hover > p {
	opacity: 0;
}
.nav-logo {
	padding-left: 2rem;
}
.nav-links {
	padding-right: 2rem;
}
.nav-links-body {
	display: flex;
}
.nav-link {
	list-style: none;
}
.nav-link > a {
	text-decoration: none;
}

.body-content {
	padding-left: 2rem;
	padding-right: 2rem;
}
/* Sign In & Sign Out */
.form-sign {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.form-sign-wrapper {
	display: flex;
	justify-content: center;
	padding-left: calc(min(5rem, max(1rem, 5vw)));
	padding-right: calc(min(5rem, max(1rem, 5vw)));
	padding-top: calc(min(8rem, max(2rem, 5vw)));
	padding-bottom: calc(min(8rem, max(2rem, 5vw)));
	border-radius: 0.2rem;
	border: 1px solid rgba(var(--cream), 0.8);
	width: 475px;
}
.form-label {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.form-sign-wrapper > label {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.form-sign-wrapper a {
	text-decoration: none;
	color: rgb(var(--deep_blue));
	border-radius: 5px;
	border: 1px solid rgba(var(--deep_blue), 1);
	padding: 5px;
	height: 100%;
}
.form-sign-wrapper button {
	border-radius: 5px;
	padding: 5px;
	color: rgb(var(--deep_blue));
	background-color: transparent;
	border: 1px solid rgba(var(--deep_blue), 1);
	margin-top: 1rem;
}
.form-sign-content {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.form-sign-content > input {
	margin-top: 0.3rem;
	border-radius: 3%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}
.nav-links-content {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.form-wrapper {
	display: flex;
	gap: 3rem;
	flex-wrap: wrap;
}
.form-container {
	margin-top: 1rem;
}
.form-button {
	height: 50px;
}
@media (max-width: 768px) {
	.hidden {
	}
	.form-wrapper {
		width: 100%;
	}
}
